/* Native SillyTavern CSS fixture, captured 2026-10-04 from release.
 * https://github.com/SillyTavern/SillyTavern/blob/release/public/css/promptmanager.css
 * Git blob: 485cf3a017ec45016ed6d035b00fdb814f8bc68a
 * Includes unchanged prompt-list layout/visibility rules and the global box-sizing,
 * body, range-block and menu_button rules from public/style.css. Remaining host/theme geometry
 * is supplied explicitly by the browser harness. Upstream license: AGPL-3.0.
 */
.range-block {
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 0px calc(var(--shadowWidth) * 1px) var(--SmartThemeShadowColor);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*fallback for JS load*/
    height: 100vh;
    height: 100dvh;
    /*defaults as 100%, then reassigned via JS as pixels, will work on PC and Android*/
    /*height: calc(var(--doc-height) - 1px);*/
    background-color: var(--SmartThemeBlurTintColor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--mainFontFamily);
    font-size: var(--mainFontSize);
    color: var(--SmartThemeBodyColor);
    overflow: hidden;
    color-scheme: only light;
}

.menu_button {
    color: var(--SmartThemeBodyColor);
    filter: grayscale(0.5);
    background-color: var(--SmartThemeBlurTintColor);
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 5px;
    padding: 3px 5px;
    width: min-content;
    cursor: pointer;
    margin: 5px 0;
    transition: var(--animation-duration-2x);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#completion_prompt_manager #completion_prompt_manager_list {
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

#completion_prompt_manager .completion_prompt_manager_list_separator hr {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    margin: 0.5em 0;
    background-image: linear-gradient(90deg, var(--transparent), var(--SmartThemeBorderColor), var(--transparent));
    min-height: 1px;
}

#completion_prompt_manager #completion_prompt_manager_list li {
    display: grid;
    grid-template-columns: 4fr 80px 45px;
    margin-bottom: 0.5em;
    width: 100%
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt .completion_prompt_manager_prompt_name .fa-solid {
    color: var(--white50a);
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt .completion_prompt_manager_prompt_name .fa-solid[data-role] {
    vertical-align: unset;
    margin-left: 3px;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_invisible {
    display: none;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_visible {
    display: grid;
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_list_head .prompt_manager_prompt_tokens,
#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt .prompt_manager_prompt_tokens {
    font-size: calc(var(--mainFontSize)*0.9);
    text-align: right;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt .prompt_manager_prompt_controls {
    text-align: right;
}

#completion_prompt_manager .completion_prompt_manager_list_head {
    padding: 0.5em 0.5em 0;
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt {
    align-items: center;
    padding: 0.5em;
    border: 1px solid var(--SmartThemeBorderColor);
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt .prompt_manager_prompt_controls {
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--mainFontSize)*1.2);
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt .prompt_manager_prompt_controls span {
    display: flex;
    height: 18px;
    width: 18px;
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt span span span {
    flex-direction: column;
    justify-content: center;
    margin-left: 0.25em;
    cursor: pointer;
    transition: var(--animation-duration-2x) ease-in-out;
    height: 20px;
    width: 20px;
    filter: drop-shadow(0px 0px 2px black);
    opacity: 0.4;
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt span span:hover {
    opacity: 1;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_draggable {
    cursor: grab;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_name {
    white-space: nowrap;
    overflow: hidden;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_name .prompt-manager-inspect-action {
    color: var(--SmartThemeBodyColor);
    cursor: pointer;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_name .prompt-manager-inspect-action:hover {
    text-decoration: underline;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_disabled .completion_prompt_manager_prompt_name,
#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt_disabled .completion_prompt_manager_prompt_name .prompt-manager-inspect-action {
    color: var(--white30a);
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt:not(.completion_prompt_manager_prompt_disabled) .prompt-manager-toggle-action {
    color: var(--SmartThemeQuoteColor);
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt.completion_prompt_manager_prompt_disabled {
    border: 1px solid var(--white20a);
}

#completion_prompt_manager #completion_prompt_manager_list li.completion_prompt_manager_prompt .mes_edit {
    margin-left: 0.5em;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt .completion_prompt_manager_prompt_name .fa-solid.prompt-manager-overridden {
    margin-left: 3px;
    color: var(--SmartThemeQuoteColor);
    cursor: pointer;
    opacity: 0.8;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt .drag-handle:not(.ui-sortable-handle) {
    display: none;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt:has(.drag-handle.ui-sortable-handle) {
    position: relative;
    padding-left: 20px;
}

#completion_prompt_manager #completion_prompt_manager_list .completion_prompt_manager_prompt .drag-handle {
    position: absolute;
    height: 100%;
    top: 0;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
